@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400;1,700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #3ed83e;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.nav {
  background-color: var(--primary-color);
  padding: 0.5rem;
}

.nav p {
  color: rgb(30, 32, 32);
  max-width: 650px;
  margin: auto;
  text-align: center;
  font-size: 15px;
}

.nav-title {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  color: white;
}

.main {
  margin: auto;
  padding: 0.5rem;
  max-width: 650px;
}

#btn-translate {
  border-radius: 40px;
  font-size: large;
  background-color: #66d4f5;
  color: white;
  border: none;
  margin: 1rem 0rem;
  padding: 1rem 2rem;
}

#txt-input {
  font-family: 'Roboto', sans-serif;
  display: block;
  width: 100%;
  min-height: 20vh;
  margin-top: 1.5rem;
  font-size: large;
}

#output {
  font-family: 'Roboto', sans-serif;
  display: block;
  width: 100%;
  min-height: 12vh;
  margin-top: 1.5rem;
  font-size: large;
  overflow: scroll;
  border: 1px solid black;
}
