@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #f89c12;
  --button-color: #35d3da;
  --text-color:#0c0b0b;
}

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
}

.nav {
  background-color: var(--primary-color);
  padding: 0.5rem;
}

.nav p {
  color: var(--text-color);
  max-width: 650px;
  margin: auto;
  text-align: center;
  font-size: 15px;
}

.nav-title {
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  color: white;
}

.main {
  margin: auto;
  padding: 0.5rem;
  max-width: 650px;
}

#btn-translate {
  border-radius: 1.6rem;
  font-size: large;
  background-color: var(--button-color);
  color: white;
  border: none;
  margin: 1rem 0rem;
  padding: 1rem 2rem;
}

#btn-translate:hover {
  background-color: aliceblue;
  color:var(--button-color);
  border: .1rem solid #08dce7;
}

#txt-input {
  display: block;
  width: 100%;
  min-height: 19vh;
  margin-top: 1.5rem;
  font-size: large;
  padding-left: .5rem;
  padding-top: .5rem;
}

/* ::placeholder {
 padding-left: .2rem;
} */

#output {
  display: block;
  width: 100%;
  min-height: 19vh;
  margin-top: 1.5rem;
  font-size: large;
  overflow: scroll;
  border: 1px solid black;
}
